<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${userDto.name}+'님의 페이지'">userName</title>
    <link rel="stylesheet" href="/css/board.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: fragment-header}"></header>
<div th:replace="~{fragments/nav :: fragment-nav}"></div>
<div class="board-wrapper">
    <div class="left-container">
        <h3>카테고리</h3>
        <ul id="category-list">
            <li><a th:href="'/' + ${userDto.id}" th:text="'전체보기(' + ${userDto.boardCnt} + ')'">전체보기(0)</a></li>
        </ul>
        <th:block th:if="${userDto.id} == ${session.id}">
            <button id="add-category-btn" style="margin-top: 10px;">새로운 카테고리 추가</button>
            <input type="text" id="category-input" placeholder="새 카테고리 입력" style="display: none; margin-top: 5px;">
        </th:block>
    </div>
    <div class="board-container">
        <div style="display: flex; align-items: center; gap: 10px;">
            <i class="fa-regular fa-circle-user fa-3x"></i>
            <h1 th:text="${userDto.name} + '님의 블로그'"></h1>
        </div>
        <h2 th:if="${categoryDto}" th:text="${'카테고리: '+categoryDto.name}"></h2>
        <h3 th:text="'총 조회수: '+${userDto.totalViewCnt}+', 오늘 조회수: '+${userDto.todayViewCnt}"></h3>
        <form action="javascript:void(0);" onchange="sortBoard()">
            <input type="text" class="search" id="query" name="query" placeholder="검색어를 입력해주세요." th:value="${query}" style="outline: none;" />
            <div class="sort-menu">
                <h3 th:text="'게시물 총 ' + ${boardList.size() + '개를 찾았습니다.'}" style="flex-grow: 1; text-align: left;"></h3>
                <a href="/write" class="write" style="background-color: #333; color: white; text-align: center; padding: 10px 16px; border-radius: 5px; font-weight: bold; text-decoration: none;">글쓰기</a>
                <select id="sort" name="sort" onchange="sortBoard()">
                    <option value="latest" th:selected="${sort == 'latest'}">최신순</option>
                    <option value="popular_today" th:selected="${sort == 'popular_today'}">인기순(오늘)</option>
                    <option value="popular_week" th:selected="${sort == 'popular_week'}">인기순(이번 주)</option>
                    <option value="popular_month" th:selected="${sort == 'popular_month'}">인기순(이번 달)</option>
                </select>
            </div>
        </form>
        <div class="board-item" th:each="boardDto : ${boardList}" th:attr="onclick='window.location.href=\'/read/' + ${boardDto.boardNum} + '\''"  th:attrappend="onmousedown='if(event.button == 1) window.open(\'/read?boardNum=' + ${boardDto.boardNum} + '\', \'_blank\');'">
            <img src="/images/image.png" alt="게시물 이미지" style="width: 15px; height: 15px;">
            <div class="board-title" th:text="${boardDto.title}">게시물 제목</div>
            <div class="board-meta" th:text="'작성자: ' + ${boardDto.userName} + ' | 등록일: ' + ${#dates.format(boardDto.inDate,'yyyy-MM-dd HH:mm:ss')} + ' | 조회수: ' + ${boardDto.viewCnt}">작성자: aaa | 등록일: 2025-01-01 10:00:00 | 조회수: 0</div>
        </div>
    </div>
    <div class="right-container"></div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const categoryList = document.getElementById("category-list");
        const addCategoryBtn = document.getElementById("add-category-btn");
        const categoryInput = document.getElementById("category-input");

        // 카테고리 순서 저장
        const saveCategories = () => {
            for(let order = 1 ; order<categoryList.children.length ; order++) {
                const categoryName = categoryList.children[order].children[1].value;
                const categoryNum = categoryList.children[order].children[2].value;
                updateCategory(categoryName, order, categoryNum);
            }

            for(let order = 1 ; order<categoryList.children.length ; order++) {
                categoryList.children[order].children[1];
            }
        }

        if(addCategoryBtn && categoryInput) { // 로그인 체크
            addCategoryBtn.addEventListener("click", () => {
                categoryInput.style.display = "block";
                categoryInput.focus();
            });
            categoryInput.addEventListener("keypress", (event) => {
                if (event.key === "Enter") {
                    event.preventDefault();
                    const categoryName = categoryInput.value.trim();
                    if (categoryName) {
                        addCategory(categoryName);
                        categoryInput.value = "";
                        categoryInput.style.display = "none";
                    }
                }
            });

            // SortableJS를 사용하여 드래그 기능 추가
            new Sortable(categoryList, {
                animation: 150,
                onEnd: saveCategories
            });
        }

        // 카테고리 업데이트
        const updateCategory = (name, order, num) => {
            $.ajax({
                type: "patch",
                url: "/category",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({name: name, order: order, num: num}),
                success: function(response) {
                    // if(!response) {
                    //     alert("카테고리 순서 저장 실패")
                    // }
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                    alert("카테고리 순서 저장 중 오류 발생")
                }
            })
        }

        // 카테고리 추가
        const addCategory = (name) => {
            $.ajax({
                type: "post",
                url: "/category",
                dataType:"json",
                data: { name: name },
                success: function(response) {
                    if(response) {
                        showCategory(response);
                    } else {
                        alert("카테고리 추가 실패")
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                    alert("카테고리 추가 중 오류 발생");
                }
            });
        }

        // 카테고리 제거
        const deleteCategory = (num, li) => {
            $.ajax({
                type: "delete",
                url: "/category",
                dataType:"json",
                data: { num: num },
                success: function(response) {
                    if(response) {
                        li.remove();
                        saveCategories();
                    } else {
                        alert("카테고리 제거 실패")
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                    alert("카테고리 제거 중 오류 발생");
                }
            });
        }

        // 카테고리 리스트 보여주기
        const showCategory = (category) => {
            $("<li>")
                .append(
                    $("<a>")
                        .text(category.name+"("+ category.boardCnt +")")
                        .attr("href", "/rlatjwls7882@gmail.com/category/"+category.num),
                    $("<input>")
                        .val(category.name)
                        .attr("style", "display: none;"),
                    $("<input>")
                        .val(category.num)
                        .attr("style", "display: none;"),
                    $("<button>")
                        .append(
                            $("<i>").attr("class", "fa-solid fa-pen-to-square")
                        )
                        .attr("title", "수정하기")
                        .click(function() {
                            const liTag = $(this).closest("li");
                            const aTag = liTag.find("a").first();
                            const inputTag = liTag.find("input").first();
                            aTag.hide();
                            inputTag.show();
                            inputTag.focus();

                            inputTag.on("keypress", (event) => {
                                if(event.key === "Enter") {
                                    event.preventDefault();
                                    aTag.text(inputTag.val()+"("+ category.boardCnt +")");
                                    aTag.show();
                                    inputTag.hide();
                                    updateCategory(inputTag.val(), category.order, category.num);
                                }
                            })
                        }),
                    $("<button>")
                        .append(
                            $("<i>").attr("class", "fa-solid fa-trash")
                        )
                        .attr("title", "삭제하기")
                        .click(function() {
                            if(confirm("해당 카테고리를 정말로 삭제하시겠습니까?")) {
                                deleteCategory(category.num, $(this).closest("li"));
                            }
                        })
                ).appendTo(categoryList);
            if('[[${session.id}]]' !== '[[${userDto.id}]]') {
                categoryList.children[categoryList.children.length-1].children[4].remove();
                categoryList.children[categoryList.children.length-1].children[3].remove();
            }
        }

        // SQL에서 카테고리 리스트 받아오기
        const getCategories = () => {
            $.ajax({
                type: "get",
                url: "/category",
                dataType: "json",
                data: {userId: '[[${userDto.id}]]'},
                success: function(response) {
                    if(response) {
                        response.forEach(showCategory);
                    } else {
                        alert("카테고리 갱신 실패")
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                    alert("카테고리 불러오다 오류 발생");
                }
            });
        }

        getCategories();
    });

    // 검색 기능
    function sortBoard() {
        let sortVal = document.getElementById("sort").value;
        let queryVal = document.getElementById("query").value;
        let currentURL = window.location.origin + window.location.pathname;
        window.location.href = currentURL + "?query=" + queryVal + "&sort=" + sortVal;
    }
</script>
</body>
</html>