<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>홈</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
<header th:replace="~{fragments/header :: fragment-header}"></header>
<div th:replace="~{fragments/nav :: fragment-nav}"></div>
<div class="board-wrapper">
    <div class="left-container"></div>
    <div class="board-container">
        <form action="javascript:void(0);" onchange="sortBoard()">
            <input type="text" class="search" id="query" name="query" placeholder="검색어를 입력해주세요." th:value="${query}" style="outline: none;" />
            <div class="sort-menu">
                <h3 th:text="'게시물 총 ' + ${boardList.size() + '개를 찾았습니다.'}" style="flex-grow: 1; text-align: left;"></h3>
                <a href="/write" class="write" style="background-color: #333; color: white; text-align: center; padding: 10px 16px; border-radius: 5px; font-weight: bold; text-decoration: none;">글쓰기</a>
                <select id="sort" name="sort" onchange="sortBoard()">
                    <option value="latest" th:selected="${sort == 'latest'}">최신순</option>
                    <option value="popular_today" th:selected="${sort == 'popular_today'}">인기순(오늘)</option>
                    <option value="popular_week" th:selected="${sort == 'popular_week'}">인기순(이번 주)</option>
                    <option value="popular_month" th:selected="${sort == 'popular_month'}">인기순(이번 달)</option>
                </select>
            </div>
        </form>
        <div class="board-item" th:each="boardDto : ${boardList}" th:attr="onclick='window.location.href=\'/read/' + ${boardDto.boardNum} + '\''"  th:attrappend="onmousedown='if(event.button == 1) window.open(\'/read?boardNum=' + ${boardDto.boardNum} + '\', \'_blank\');'">
            <img src="/images/image.png" alt="게시물 이미지" style="width: 15px; height: 15px;">
            <div class="board-title" th:text="${boardDto.title}">게시물 제목</div>
            <div class="board-meta" th:text="'작성자: ' + ${boardDto.userName} + ' | 등록일: ' + ${#dates.format(boardDto.inDate,'yyyy-MM-dd HH:mm:ss')} + ' | 조회수: ' + ${boardDto.viewCnt}">작성자: aaa | 등록일: 2025-01-01 10:00:00 | 조회수: 0</div>
        </div>
    </div>
    <div class="right-container"></div>
</div>
<script>
    function sortBoard() {
        let sortVal = document.getElementById("sort").value;
        let queryVal = document.getElementById("query").value;
        window.location.href = "/search?query=" + queryVal + "&sort=" + sortVal;
    }
</script>
</body>
</html>
