<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProjectBPM</title>
    <meta name="description" content="ProjectBPM은 JAVA - Spring Boot 기반 블로그 플랫폼입니다.">
    <link rel="stylesheet" href="/css/board.css">
    <style>
        .page-button:hover {
            background-color: #999999;
        }
        .page-button.active {
            background-color: #888888;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/header :: fragment-header}"></header>
<div th:replace="~{fragments/nav :: fragment-nav}"></div>
<div class="board-wrapper">
    <div class="left-container"></div>
    <div class="board-container">
        <form action="javascript:void(0);" onchange="sortBoard()">
            <input type="text" class="search" id="query" name="query" placeholder="검색어를 입력해주세요." th:value="${query}" style="outline: none;" />
            <div class="sort-menu">
                <a href="/write" class="write" style="background-color: #333; color: white; text-align: center; padding: 10px 16px; border-radius: 5px; font-weight: bold; text-decoration: none;">글쓰기</a>
                <select id="sort" name="sort" onchange="sortBoard()">
                    <option value="latest" th:selected="${sort == 'latest'}">최신순</option>
                    <option value="popular_today" th:selected="${sort == 'popular_today'}">인기순(오늘)</option>
                    <option value="popular_week" th:selected="${sort == 'popular_week'}">인기순(이번 주)</option>
                    <option value="popular_month" th:selected="${sort == 'popular_month'}">인기순(이번 달)</option>
                </select>
            </div>
        </form>
        <div class="board-item" th:each="boardDto : ${boardList}" th:attr="onclick='window.location.href=\'/read/' + ${boardDto.boardNum} + '\''"  th:attrappend="onmousedown='if(event.button == 1) window.open(\'/read/' + ${boardDto.boardNum} + '\', \'_blank\');'">
            <img src="/images/image.png" alt="게시물 이미지" style="width: 15px; height: 15px;">
            <div class="board-title" th:text="${boardDto.title}">게시물 제목</div>
            <div class="board-meta" th:text="'작성자: ' + ${boardDto.userName} + ' | 최초 등록일: ' + ${#dates.format(boardDto.inDate,'yyyy-MM-dd HH:mm:ss')} + ' | 조회수: ' + ${boardDto.viewCnt}">작성자: aaa | 등록일: 2025-01-01 10:00:00 | 조회수: 0</div>
        </div>
    </div>
    <div class="right-container"></div>
</div>
<div style="text-align: center;">
    <div th:each="i : ${#numbers.sequence(1, boardList.totalPages)}" th:if="${i == 1 || i == boardList.totalPages || (boardList.pageable.pageNumber - 5 < i && i <= boardList.pageable.pageNumber + 5) || i==boardList.pageable.pageNumber - 11 || i==boardList.pageable.pageNumber + 10}" style="display: inline-block;">
        <a th:href="@{'/search?query=' + ${query!=null ? query : ''} + '&sort=' + ${sort} + '&page=' + ${i}}" class="page-button" th:classappend="${i == boardList.number+1 ? 'active' : ''}" style="font-size: 2em; text-decoration: none; color: black; padding: 5px 20px;" th:text="${i}">i</a>
    </div>
</div>
<script>
    function sortBoard() {
        let sortVal = document.getElementById("sort").value;
        let queryVal = encodeURIComponent(document.getElementById("query").value);
        let page = 1;
        window.location.href = "/search?query=" + queryVal + "&sort=" + sortVal + "&page=" + page;
    }
</script>
</body>
</html>
