<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="fragment-nav">
    <style>
        .top-nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        .top-nav .loginOut {
            margin-right: 10px;
            float: right;
            background-color: #333;
            overflow: hidden;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
    <div class="top-nav" style="margin-top: 30px; margin-right: 50px; margin-bottom: 30px;">
        <img th:src="@{/images/logo.png}" alt="사이트 로고" class="logo" onclick="window.location.href='/'" onmousedown="if(event.button === 1) window.open('/', '_blank');" style="cursor: pointer;">
        <div style="float: right;">
            <div onclick="toggleProfileMenu()" style="cursor: pointer;">
                <i class="fa-regular fa-circle-user fa-3x"></i>
                <i class="fa-solid fa-chevron-down" style="margin-left: 5px;"></i>
            </div>
            <div id="profile-menu" style="display: none; position: absolute; right: 10px; top: 100px; background: #333333; border-radius: 5px;">
                <ul style="list-style: none; padding: 0; margin: 0;">
                    <li style="padding: 10px; cursor: pointer;"><a th:href="'/' + (${session.id} ? ${'user/'+session.id} : 'login')">내 블로그</a></li>
                    <li style="padding: 10px; cursor: pointer;"><a href="#">설정</a></li>
                </ul>
            </div>
        </div>
        <a href="/logout" class="loginOut" th:if="${session.id}">로그아웃</a>
        <a href="/login" class="loginOut" th:if="!${session.id}">로그인</a>
    </div>
    <script>
        function toggleProfileMenu() {
            let menu = document.getElementById("profile-menu");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }
    </script>
</th:block>
</html>